@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;
  background-color: #11112b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-content {
  background-color: #11112b;
}

.parallax {
  height: 100%;
  min-width: 1000px;
  z-index: 0;
  /* overflow: hidden; */
  grid-template-areas: 'stack';
}

.parallax > * {
  grid-area: stack;
  animation: parallax linear;
  animation-timeline: scroll();
}

.parallax > img {
  position: absolute;
}

.title-and-name {
  z-index: 6;
  --parallax-speed: 50;
}

#svg-ground-1 {
  bottom: 0;

  z-index: 7;
}

#svg-ground-2 {
  bottom: 3vw;
  z-index: 6;
  --parallax-speed: 20;
}

#svg-ground-3 {
  bottom: 15vw;
  --parallax-speed: 50;

  z-index: 5;
}

#svg-mountains-1 {
  bottom: 12vw;
  --parallax-speed: 90;

  z-index: 4;
}

#svg-mountains-2 {
  bottom: 5vw;
  --parallax-speed: 100;

  z-index: 3;
}

#svg-stars {
  top: 0;
  --parallax-speed: 120;
  z-index: 2;
}

#svg-falling-star-1 {
  z-index: 2;
}

#svg-falling-star-2 {
  z-index: 2;
}

@media screen and (max-width: 1000px) {
  #svg-ground-1 {
    bottom: 0;
  }
  
  #svg-ground-2 {
    bottom: 25px;
  }
  
  #svg-ground-3 {
    bottom: 150px;
  }
  
  #svg-mountains-1 {
    bottom: 120px;
  }
  
  #svg-mountains-2 {
    bottom: 50px;
  }
}

@keyframes parallax {
  to {
    transform: translateY(calc(var(--parallax-speed) * 1vh));
  }
}